<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364279780392-l9spg0adgn7ntd2elej03gdtllbsi3r4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364279780392-l9spg0adgn7ntd2elej03gdtllbsi3r4</string>
	<key>API_KEY</key>
	<string>AIzaSyAqVMj2ONjoWgbGqM3IYRigSWfGZWHfSKM</string>
	<key>GCM_SENDER_ID</key>
	<string>364279780392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tech.firebaseCrud</string>
	<key>PROJECT_ID</key>
	<string>fir-crud-1bd0d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crud-1bd0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364279780392:ios:7507aca3c9a800031e511d</string>
</dict>
</plist>